@inject IViewLocalizer Localizer

@{
    var cultureFeature = Context.Features.Get<IRequestCultureFeature>();
}

<footer class="footer">
    <div class="content opensans_400 has-text-centered">
        <p>@Localizer["NstartCredits"]</p>
        <br />
        <p>@Localizer["NStartLicence"]</p>
    </div>
</footer>