/* Webfont: OpenSans-LightItalic */@font-face {
    font-family: 'OpenSansLight';
    src: url('OpenSans-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OpenSans-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('OpenSans-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

