/* Webfont: OpenSans-ExtraBold */@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('OpenSans-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OpenSans-ExtraBold.woff') format('woff'), /* Modern Browsers */
         url('OpenSans-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

