@page "/media"
@model NStart.Pages.Home.MediaPageModel
@{
    ViewData["Title"] = "Featured Multimedia";
}

@* Pictures Header Text *@
<div class="header-with-margins has-text-centered">
    <h1 class="title montserrat_100 has-text-black is-2">Featured Pictures</h1>
</div>
@* Photos Container *@
<div class="container">

</div>

@* Videos Header Text *@
<div class="header-with-margins has-text-centered">
    <h1 class="title montserrat_100 has-text-black is-2">Featured Videos</h1>
</div>
@* Videos Container *@
<div class="container">

</div>