@page "/media"
@inject IViewLocalizer Localizer
@model NStart.Pages.Home.MediaPageModel
@{
    ViewData["Title"] = Localizer["PageTitle"];
}

@* Pictures Header Text *@
<div class="header-with-margins has-text-centered">
    <h1 class="title montserrat_100 has-text-black is-2">@Localizer["FeaturedPictures_Header"]</h1>
</div>
@* Photos Container *@
<div class="container">

</div>

@* Videos Header Text *@
<div class="header-with-margins has-text-centered">
    <h1 class="title montserrat_100 has-text-black is-2">@Localizer["FeaturedVideos_Header"]</h1>
</div>
@* Videos Container *@
<div class="container">

</div>