/* Webfont: Montserrat-BoldItalic */@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Montserrat-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Montserrat-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

